* {
  font-family: Arial, Helvetica, sans-serif;
}
#home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}
#main-title {
  text-align: center;
  font-size: 10em;
}
#login-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  & a {
    margin-bottom: 1em;
    text-decoration: none;
  }
}
#username-input {
  margin-bottom: 1em;
  border-color: black;
  border-width: 0.5px;
  border-radius: 5px;
  height: 3vh;
  padding-left: 5px;
  text-align: center;
  background-color: rgba(144, 129, 129, 0.1);
}
.start-game-button {
  width: 15em;
}
.scoreboard-button {
  width: 15em;
}

#scoreboard-title {
  text-align: center;
  font-size: 4em;
}
.user-row {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  width: 60vw;
  margin: auto;
  margin-bottom: 0.5em;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 3em;
  position: relative;
}
.scoreboard-index {
  position: absolute;
  left: 0.5em;
  font-size: 2em;
}
.scoreboard-username {
  position: absolute;
  left: 2em;
  font-size: 2em;
}
.scoreboard-score {
  position: absolute;
  right: 1em;
  font-size: 2em;
}
#div-scoreboard-button {
  width: fit-content;
  margin: auto;
  align-self: center;
  & a {
    text-decoration: none;
  }
}
#scoreboard-home-button {
  margin-top: 1em;
  font-size: 1.2em;
}
#question {
  text-align: center;
  font-size: 2em;
}
#timer {
  width: fit-content;
  margin: auto;
  font-size: 3em;
}
#rating-container {
  width: fit-content;
  margin: auto;
  position: fixed;
  top: 1em;
  left: 2vw;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.876);
  height: fit-content;
  padding-bottom: 1em;
  padding-right: 4em;
  padding-left: 4em;
  border-radius: 5px;
}
#rating-background {
  margin: 0;
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.329);
}
#rate-question {
  font-size: 2em;
}

.option-div {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.answer {
  text-align: center;
  font-size: 1.5em;
}
#lives {
  text-align: center;
  font-size: 2em;
}
#end-game-user {
  text-align: center;
  font-size: 3em;
}
#game-score {
  text-align: center;
  font-size: 3em;
}
#end-game-button-container {
  width: fit-content;
  margin: auto;
  margin-top: 7em;
  display: flex;
  justify-content: space-between;
  & a {
    text-decoration: none;
  }
}
#game-scoreboard-button {
  margin-right: 5em;
}
#game-home-button-div {
  width: fit-content;
  margin: auto;
  margin-top: 5em;
  & a {
    text-decoration: none;
  }
}
#life-saver-container {
}
.life-saver-message {
  font-size: 1.5em;
}
#lives {
  color: rgb(238, 119, 110);
}
