@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  background: #43c6ac;
  background: -webkit-linear-gradient(to right, #f8ffae, #43c6ac);
  background: linear-gradient(to right, #f8ffae, #43c6ac);
  // background-color: #b2dfdb;
}
#home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}
#main-title {
  text-align: center;
  font-size: 7em;
}
#login-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  & a {
    margin-bottom: 1em;
    text-decoration: none;
  }
}
#login-title {
  text-align: center;
  font-size: 5em;
}
h2 {
  text-align: center;
  font-size: 3em;
}

#login-container-div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  align-items: center;
  & a {
    margin-top: 1em;
    text-decoration: none;
  }
}

.username-input-login {
  width: fit-content;
  margin-bottom: 1em;
  border-color: black;
  border-width: 0.5px;
  border-radius: 5px;
  height: 3vh;
  padding-left: 5px;
  text-align: center;
  background-color: rgba(144, 129, 129, 0.1);
}

.password-input-login {
  width: fit-content;
  width: fit-content;
  margin-bottom: 1em;
  border-color: black;
  border-width: 0.5px;
  border-radius: 5px;
  height: 3vh;
  padding-left: 5px;
  text-align: center;
  background-color: rgba(144, 129, 129, 0.1);
}
.login-button {
  width: fit-content;
  margin-bottom: 2em;
}
#register-title {
  text-align: center;
  font-size: 5em;
}
#register-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  align-items: center;
}
#username-input-register {
  width: fit-content;
  width: fit-content;
  margin-bottom: 1em;
  border-color: black;
  border-width: 0.5px;
  border-radius: 5px;
  height: 3vh;
  padding-left: 5px;
  text-align: center;
  background-color: rgba(144, 129, 129, 0.1);
}
#password-input-register {
  width: fit-content;
  width: fit-content;
  margin-bottom: 1em;
  border-color: black;
  border-width: 0.5px;
  border-radius: 5px;
  height: 3vh;
  padding-left: 5px;
  text-align: center;
  background-color: rgba(144, 129, 129, 0.1);
}
.username-input {
  margin-bottom: 1em;
  border-color: black;
  border-width: 0.5px;
  border-radius: 5px;
  height: 3vh;
  padding-left: 5px;
  text-align: center;
  background-color: rgba(144, 129, 129, 0.1);
}
.logout-icon {
  padding-left: 0.7em;
}
.user-icon {
  display: flex;
  position: fixed;
  top: 2%;
  right: 2%;
  font-size: 1em;
  text-align: center;
  align-items: center;
}
.icon {
  color: rgb(99, 102, 102);
}
.main-game {
  margin-top: 2.5em;
}

.password-input {
  margin-bottom: 1em;
  border-color: black;
  border-width: 0.5px;
  border-radius: 5px;
  height: 3vh;
  padding-left: 5px;
  text-align: center;
  background-color: rgba(144, 129, 129, 0.1);
}
.start-game-button {
  width: 15em;
}
.scoreboard-button {
  width: 15em;
}

#scoreboard-title {
  text-align: center;
  font-size: 4em;
}
.user-row {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  width: 60vw;
  margin: auto;
  margin-bottom: 0.5em;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 3em;
  position: relative;
}
.scoreboard-index {
  position: absolute;
  left: 0.5em;
  font-size: 2em;
}
.scoreboard-username {
  position: absolute;
  left: 2em;
  font-size: 2em;
}
.scoreboard-score {
  position: absolute;
  right: 1em;
  font-size: 2em;
}
#div-scoreboard-button {
  width: fit-content;
  margin: auto;
  align-self: center;
  & a {
    text-decoration: none;
  }
}
#scoreboard-home-button {
  margin-top: 1em;
  font-size: 1.2em;
}
#question {
  text-align: center;
  font-size: 2em;
}
#timer {
  width: fit-content;
  margin: auto;
  font-size: 3em;
}
#rating-container {
  width: fit-content;
  margin: auto;
  position: fixed;
  top: 1em;
  left: 2vw;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.876);
  height: fit-content;
  padding-bottom: 1em;
  padding-right: 4em;
  padding-left: 4em;
  border-radius: 5px;
}
#rating-background {
  margin: 0;
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.329);
}
#rate-question {
  font-size: 2em;
}

.option-div {
  min-width: fit-content;
  max-width: 37%;
  align-self: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.1em;
  & Button {
    letter-spacing: 0.1em;
  }
}
.answer {
  text-align: center;
  font-size: 1.5em;
}
#lives {
  text-align: center;
  font-size: 2em;
}
#end-game-user {
  margin-top: 1em;
  text-align: center;
  font-size: 3em;
}
#game-score {
  margin-top: 2em;
  text-align: center;
  font-size: 3em;
}
#end-game-button-container {
  width: fit-content;
  margin: auto;
  margin-top: 7em;
  display: flex;
  justify-content: space-between;
  & a {
    text-decoration: none;
  }
}
#game-scoreboard-button {
  margin-right: 5em;
}
#game-home-button-div {
  width: fit-content;
  position: fixed;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  & a {
    text-decoration: none;
  }
}
#life-saver-container {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  right: 15em;
  top: 4em;
  margin-top: 2em;
}
.life-saver-message {
  font-size: 1.5em;
}
#lives {
  color: rgb(238, 119, 110);
  display: flex;
  position: relative;
  float: right;
  top: 3vh;
}
#life-saver-button {
  width: fit-content;
  margin: auto;
}
.life-saver-img {
  height: 1em;
  margin-left: 1%;
}
.life-saver-message {
  display: flex;
  position: relative;
  float: left;
  top: 3vh;
}
.timer-container {
  width: 100%;
  max-width: 45%;
  margin: auto;
}

#login-title {
  overflow: hidden;
  border-right: 0.1em solid rgb(85, 74, 74);
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3s steps(80), blink-caret 1s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(85, 74, 74);
  }
}
