@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background: #a1ffce;
  background: -webkit-gradient(linear, left top, right top, from(#faffd1), to(#a1ffce));
  background: linear-gradient(to right, #faffd1, #a1ffce);
  background-repeat: no-repeat;
}

#home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 70vh;
}

#main-title {
  text-align: center;
  font-size: 5em;
}

#login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#login-container a {
  margin-bottom: 1em;
  text-decoration: none;
}

#login-title {
  text-align: center;
  font-size: 5em;
}

h2 {
  text-align: center;
  font-size: 2em;
}

#login-container-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login-container-div a {
  text-decoration: none;
}

.username-input-login {
  width: 50%;
  margin-bottom: 1em;
  border-color: black;
  border-width: 0.5px;
  border-radius: 5px;
  height: 2em;
  padding-left: 5px;
  text-align: center;
  background-color: rgba(144, 129, 129, 0.1);
}

.password-input-login {
  width: 50%;
  margin-bottom: 1em;
  border-color: black;
  border-width: 0.5px;
  border-radius: 5px;
  height: 2em;
  padding-left: 5px;
  text-align: center;
  background-color: rgba(144, 129, 129, 0.1);
}

#register-title {
  text-align: center;
  font-size: 5em;
}

#register-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#username-input-register {
  width: 50%;
  margin-bottom: 1em;
  border-color: black;
  border-width: 0.5px;
  border-radius: 5px;
  height: 2em;
  padding-left: 5px;
  text-align: center;
  background-color: rgba(144, 129, 129, 0.1);
}

#password-input-register {
  width: 50%;
  margin-bottom: 1em;
  border-color: black;
  border-width: 0.5px;
  border-radius: 5px;
  height: 2em;
  padding-left: 5px;
  text-align: center;
  background-color: rgba(144, 129, 129, 0.1);
}

.username-input {
  margin-bottom: 1em;
  border-color: black;
  border-width: 0.5px;
  border-radius: 5px;
  height: 3vh;
  padding-left: 5px;
  text-align: center;
  background-color: rgba(144, 129, 129, 0.1);
}

.logout-icon {
  padding-left: 0.7em;
}

.user-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 2%;
  right: 2%;
  font-size: 1em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  color: #636666;
}

.main-game {
  margin-top: 2.5em;
}

.password-input {
  margin-bottom: 1em;
  border-color: black;
  border-width: 0.5px;
  border-radius: 5px;
  height: 3vh;
  padding-left: 5px;
  text-align: center;
  background-color: rgba(144, 129, 129, 0.1);
}

.start-game-button {
  width: 15em;
}

.scoreboard-button {
  width: 15em;
}

#scoreboard-title {
  text-align: center;
  font-size: 4em;
}

.user-row {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  width: 60vw;
  margin: auto;
  margin-bottom: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
  padding-bottom: 3em;
  position: relative;
}

.scoreboard-index {
  position: absolute;
  left: 0.5em;
  font-size: 2em;
}

.scoreboard-username {
  position: absolute;
  left: 2em;
  font-size: 2em;
}

.scoreboard-score {
  position: absolute;
  right: 1em;
  font-size: 2em;
}

#div-scoreboard-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#div-scoreboard-button a {
  text-decoration: none;
}

#scoreboard-home-button {
  margin-top: 1em;
  font-size: 1.2em;
}

#question {
  text-align: center;
  font-size: 2em;
}

#timer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 3em;
}

#rating-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: fixed;
  top: 1em;
  left: 2vw;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.876);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 1em;
  padding-right: 4em;
  padding-left: 4em;
  border-radius: 5px;
}

#rating-background {
  margin: 0;
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.329);
}

#rate-question {
  font-size: 2em;
}

.option-div {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 37%;
  -ms-flex-item-align: center;
      align-self: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.1em;
}

.option-div Button {
  letter-spacing: 0.1em;
}

.answer {
  text-align: center;
  font-size: 1.5em;
}

#lives {
  text-align: center;
  font-size: 2em;
}

#end-game-user {
  margin-top: 1em;
  text-align: center;
  font-size: 3em;
}

#game-score {
  margin-top: 2em;
  text-align: center;
  font-size: 3em;
}

#end-game-button-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#end-game-button-container a {
  text-decoration: none;
}

#game-scoreboard-button {
  margin-right: 5em;
}

#game-home-button-div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: fixed;
  bottom: 1.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: auto;
}

#game-home-button-div a {
  text-decoration: none;
}

#life-saver-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 15em;
  top: 4em;
  margin-top: 2em;
}

.life-saver-message {
  font-size: 1.5em;
}

#lives {
  color: #ee776e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  float: right;
  top: 3vh;
}

#life-saver-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.life-saver-img {
  height: 1em;
  margin-left: 1%;
}

.life-saver-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  float: left;
  top: 3vh;
}

.timer-container {
  width: 100%;
  max-width: 45%;
  margin: auto;
}

.buttons-container {
  width: 51.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

.message-incorrect {
  color: rgba(255, 0, 0, 0.616);
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sad-icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 0.2em;
}
/*# sourceMappingURL=App.css.map */